@import "../custom.scss";

.nav-link {
  font-family: $font-family-nav;
  display: flex !important;
  align-items: center;
}

#logo {
  // width: 75px;
  // height: 75px;
  // position: fixed;
  // left: 5px;
  // top: 3px;
  // z-index: 1500;
}
