@import "../custom.scss";

#nav-title {
  font-size: 30px;
}

.nav-link {
  font-family: $font-family-nav;
  display: flex !important;
  align-items: center;
  font-size: 18px;
  white-space: nowrap;
}

.navbar-brand {
  display: flex !important;
}

.navbar {
  transition: background-color 0.3s ease-out;
  background: $nav;
  flex-wrap: wrap;
}

.navbar-darken,
.navbar:focus,
.navbar:hover {
  background: $nav-dark;
  // opacity: 0.9;
}
