@import "./custom.scss";

* {
  font-family: $font-family-default;
  text-rendering: optimizeLegibility !important;
}

.overflow-x-hidden {
  overflow-x: hidden;
}

body {
  background: $gradient-background;
}

.navbar-margin-top {
  padding-top: 101px !important;
}

@media (max-width: 1009px) {
  .navbar-margin-top {
    padding-top: 101px !important;
  }
}

@media (max-width: 768px) {
  body {
    font-size: 14px;
  }
}
