// html {
//   overflow-x: hidden;
// }

* {
  font-family: "Noto Serif JP", serif;
}

#fullScrollContent {
  padding-top: 80px;
}
@media (max-width: 991px) {
  #fullScrollContent {
    padding-top: 56px !important;
  }
}
