@import "./custom.scss";

* {
  font-family: $font-family-default;
  text-rendering: optimizeLegibility !important;
}

#fullScrollContent {
  padding-top: 101px !important;
}

@media (max-width: 1009px) {
  #fullScrollContent {
    padding-top: 101px !important;
  }
}
